<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7wD9SnoTquk5EAmUC6ogdijd4bVs-5Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>204221789722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.myfortuna.mixMax</string>
	<key>PROJECT_ID</key>
	<string>template-app-4513a</string>
	<key>STORAGE_BUCKET</key>
	<string>template-app-4513a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204221789722:ios:2aa49ac665dfe0a61703a3</string>
</dict>
</plist>