GOOGLE_PROJECT_ID="template-app-4513a"
MODAL_AUTH_TOKEN="some-service-long-bearer-token"

//TODO TEMPLATE: make sure to add .env.dev and .env.prod files to the project if missing but do not commit them