rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function noRestrictedUserChanges(incoming) {
      return incoming.keys().hasOnly(['id', 'name', 'email']) &&
      incoming.diff(resource.data).affectedKeys().hasOnly(['name', 'email']);
    }

    match /Users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if false;
      allow update: if request.auth != null &&
        request.auth.uid == userId &&
        noRestrictedUserChanges(request.resource.data);
      allow delete: if false;
    }

    match /General/{generalDocId} {
    	allow read: if true;
      allow write: if false;
      allow delete: if false;
    }


    match /{document=**} {
      allow read, write: if false;
      allow delete: if false;
    }
  }
}